@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --ff-default: "Lexend Deca", sans-serif;
  --ff-secundary: "Big Shoulders Display", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-primary-1: hsl(31, 77%, 52%);
  --clr-primary-2: hsl(184, 100%, 22%);
  --clr-primary-3: hsl(179, 100%, 13%);

  --clr-neutral-1: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-2: hsl(0, 0%, 95%);
}

body {
  font-family: var(--ff-default);
  font-size: 0.938rem; /* 15px */
  font-weight: var(--fw-400);
  color: var(--clr-neutral-1);
  min-height: 100vh;
  line-height: 1.6;
  display: grid;
  place-content: center;
}

.card {
  max-width: 40rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.section-wrapper {
  padding: 3rem;
  background-color: var(--item-color);
}

.sedans {
  --item-color: hsl(31, 77%, 52%);
}

.suvs {
  --item-color: hsl(184, 100%, 22%);
}

.luxury {
  --item-color: hsl(179, 100%, 13%);
}

.section-title {
  font-family: var(--ff-secundary);
  font-size: 2.5rem;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-2);
}

.button {
  padding: 0.5rem 1.8rem;
  border: 0;
  border-radius: 100vh;
  cursor: pointer;
  color: var(--item-color);
  border: 0.2rem solid var(--clr-neutral-2);
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1.6rem);
}

@media screen and (min-width: 1025px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 57.5rem;
  }

  .button {
    --flow-spacer: 5rem;
  }

  .button:where(:hover, :focus) {
    background-color: var(--item-color);
    color: var(--clr-neutral-2);
  }
}
